@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

.imageSpFacts {
    border-radius: 20px;
}

.topic {
    position: absolute;
    top: 10em;
    padding-left: 10%;
    
    font-family: 'Festive', cursive;
    font-size: 45px;
    color: rgb(0, 10, 126);
}


.blog {
    margin-left: 10em;
    margin-right:10rem;
    padding-left: 1.5em;
    padding-right: 1.5rem;
    padding-top: 2%;
    margin-top: 4%;
    background-color: #003f7d;
    border-radius: 5px;
}
@media  screen and (max-width: 1200px) {
    .blog {
        margin-left: 5em;
    margin-right:5rem;
    padding-left: 1.5em;
    padding-right: 1.5rem;
    padding-top: 2%;
    margin-top: 4%;
    }
    .topic {
        top: 2.5em;
    }
}

@media  screen and (max-width: 568px) {
    .blog {
        margin-left: 0.5em;
    margin-right:0.5rem;
    padding-left: 1.5em;
    padding-right: 1.5rem;
    padding-top: 2%;
    margin-top: 4%;
    }
}
@media screen and (max-width: 520px) {
    .imageSpFacts {
        
        height: 250px;
    }
}